<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public/    [L]
	RewriteRule ^(paypal) - [L]
	RewriteRule ^(forums) - [L]
    RewriteRule    (.*) public/$1    [L]
 </IfModule>
